body {
    background-image: linear-gradient(to bottom right, #443351, #826D84);
    padding: 0;
    margin: 0;
}

.logo { /* edit image size to resize banner */
    padding-top: 2%;
    padding-right: 0.5%;
    padding-left: 5%;
    padding-bottom: 0.5%;
    max-width: 100%;
    height:auto;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #43344C, #775C88);
    overflow: hidden;
    align-items: center;
    display: flex;
}

li {
    float: left;
}

.button {
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 3%;
    overflow: auto;
    position: relative;
    height: 4em;
    display: flex;
}

.button::after {
    content: '';
    height: 0.2em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.2s;
}

.button a {
       align-self: center;
}

li a {
    color: white;
    text-decoration: none;
    font-family: 'Revista Stencil';
}

.button:hover::after {
    background-color: #9B78A9;
    opacity: 1;
}

.active {
    padding-right: 1%;
    padding-left: 1%;
    margin-left: 3%;
    overflow: auto;
    position: relative;
    height: 4em;
    display: flex;
}

.active::after {
    content: '';
    height: 0.2em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #3A2647;
}

.active a {
    align-self: center;
}